@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --font-mono: "IBM Plex Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-mono);
}
