@import "../styles/colors";

//.content-container {
//  color: $white;
//  display: flex;
//  height: 100vh;
//  margin: 0 auto;
//  max-width: 960px;
//  padding: 0 1.0875rem 1.45rem;
//}
//
//.content-container-left {
//  background-color: lighten(#000000, 15%);
//  flex: 0.2;
//  padding: 1rem;
//  text-align: right;
//}
//
//.content-container-right {
//  background-color: lighten(#000000, 10%);
//  flex: 0.8;
//  padding: 1rem;
//}

footer {
  color: $white;
  margin: 55px 0;
  text-align: center;
}
